<?xml version="1.0" encoding="UTF-8"?>
    <phpunit
            backupStaticAttributes="false"
            cacheTokens="false"
            colors="false"
            convertErrorsToExceptions="true"
            convertNoticesToExceptions="true"
            convertWarningsToExceptions="true"
            forceCoversAnnotation="false"
            processIsolation="false"
            stopOnError="false"
            stopOnFailure="false"
            stopOnIncomplete="false"
            stopOnSkipped="false"
            verbose="false"
    >
    <php>
        <env name="ENDPOINT" value="https://testapi.multisafepay.com/v1/json"/>
        <env name="API_KEY" value="c8201ce5f40104e754219d448a44d43f36041ef1"/>
    </php>

    <testsuites>
        <testsuite name="Functional">
            <directory>tests/Functional</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>

    </filter>
</phpunit>
